@charset "utf-8";
/* CSS Document */

/*# Title*/

.title
{
  display: flex; 
  background-color: #F56063; 
  padding: 20px;
}

.logo a {
  font-size: 30px; 
  color: #fff;
  text-decoration: none;
}

.menu
{
  display: flex; 
  justify-content: flex-end; 
  gap: 30px; 
  align-items: center;
}

.menu a
{
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #000;
}


.content {
  display: flex;
  justify-content: center;
  gap: 42px;
  font-size: 18px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 30px 15px 0;
  position: relative;
  color: #F56063;
  text-align: center;
}

/*# Footer*/
footer {
    background-color: #F56063; 
    padding: 20px;
    text-align: center;
}

/*# Feedback */

.container-3 {
    max-width: 800px;
    margin: 60px auto;
    padding: 20px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);        
}

nav {
    background-color: #FFFFFF;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav li a {
    text-decoration: none; 
    color: #F56063;
}
nav li a:hover {
    padding: 9px;
    background-color: #F56063;
    color: white;
}

form {
    margin-top: 20px;
}

label {
    font-weight: bold;
    color: #414141;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #F56063;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #b95b5b;
}